@import url('http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather');
@import url('http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');

#container{
	position: relative;
	overflow: hidden;
}

h1 {
  font-size: 2.2rem;
  color: lighten($orange, 25);
}

.verticalCenter{

	position: relative;
	top: 50%;
 	transform: translateY(-50%);
}
.test {
  font-size: 1.2rem;
  color: $blue;
}

nav {

  position: fixed;

  div{
  	display: inline-block;
  }

  img {
  	height: 40px;
  	padding-bottom: 15px;
  	width: 40px;

  }
}
#bar{
	position: fixed;
	display: block;
}
.row {min-width:100% !important;}
#tbbb{
	clear: both;
}
#Section1, #Section2, #Section3, #Section4, #Section5{
	height: 800px;
	clear: both;
	display: block;
	margin: 0 auto;
}
#Section2, #Section4{
	background-color: #4577D4;
}
#S1C1, #S1C2{
	display: inline-block;
}
.rowContainer{
	@extend .verticalCenter;
}
#Section5{
	background: url(../data/my_images/forest.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}
#resumeModal{
	padding-top: 50px;
	height: 90%;
}
#resumeReveal{
	height: 90%;
}
#Section4{
	a{
		color: white;
	}
}
#silk{
	width: 200px;
	height: 200px;
	border-radius: 10%;
}
#carousel{
	margin: 0 auto;
	width: 50%;

	ul{
		margin: 0 auto;
	}
}
@media (max-width: 640px){
	#footerContent{
		color: white;
	}
	h1{
		font-size: 20;
	}
	#silk{
		height:100px;
		width: 100px;
	}
	#carousel{
		display: none;
	}
	#quotesWithoutCarousel{
		display: block;
		li{
			color: white;
		}
	}
	#Section5{
		background: none;
		
		background-color:  black;
	}
}

@media (min-width: 650px){
	#footerContent{
		position: absolute;
		animation: scroll 10s linear 4s infinite;
		 overflow: hidden;
	}
	@keyframes scroll {
		0% { left: 0%; }
		100% { left: 100%; }
	}
	#quotesWithoutCarousel{
		display: none;
	}
	#carousel{
		display: block;
	}
}
/*IMDB STYLING
	PART C BEGINS HERE

*/
#title{
	text-align: center;
	color: #4577D4;
}

#imdbLinks {
	margin: 0 auto;
	position: relative;
	text-align: center;
	a{
		text-align: center;
		padding: 20px;
	}
	padding: 20px;
}

#searchDiv {
	padding: 30px;
	margin: 0 auto;
	width: 50%;
	h2 {
		color: #4577D4;
	}
}
#info{
	margin: 0 auto;
	padding: 30px;
	width: 600px;


}
#thumbnail{
	width: 60px;
	height: 75px;
	a.hover{
		opacity: 50%;
	}
}
#top3{
	width: 300px;
	height: 150px;
}
#top3img{
	width: 90px;
	height: 150px;
	float: left;
	display: inline-block;
	padding: 10px;

}
#top3text{
	padding: 10px;
	height: 150px;
	display: inline-block;
	width: 175px;
	float: right;
}
#genreButtons {
	display: inline-block;
	list-style-type: none;
	margin: 0 auto;
	li {
		display: inline;
		button{
			width: 100px;
		}
	}

}

#galContainer{
	width: 800px;
	margin: 0 auto;
}

#listOfMovies{
	li.ng-enter{
		-webkit-animation: slideInUp 1s;
    -moz-animation: slideInUp 1s;
    -ms-animation: slideInUp 1s;
    animation: slideInUp 1s;
	}
	li.ng-leave{
		-webkit-animation: fadeOut 1s;
    -moz-animation: fadeOut 1s;
    -ms-animation: fadeOut 1s;
    animation: fadeOut 1s;
	}
}