<div id = "gallery" ng-controller="movieGalleryController">
		<ul id = "genreButtons">
			<li ng-repeat = "genre in genres">
				<button ng-click='change(genre)'>{{genre}}</button>
			</li>
		</ul>
	
	<div id = "galContainer">

		<ul class="small-block-grid-3 medium-block-grid-6 large-block-grid-12"> 
			<li ng-repeat = "film in movies | filter: selGenre">

					<div id = "thumbnail">	
						<a href = "#/list/{{film.title}}">
							<img ng-src = 'data/images/{{film.imdbID}}.jpg'}}>
						</a>

					</div>
			</li>
		</ul>
	</div>
</div>